@import "compass/reset";
$screen-sm: 768px;
$screen-md: 992px;

.container {
  margin-top: 0.5em;
}

.appname {
  font-size: 4em;
}

.description {
  .subtext {
    color: #868686;
    margin-top: 1em;
  }
}

.features {
  margin-top: 3em;
  margin-left: 0;

  .programming {
    font-weight: bold;
    color: #555;
    font-size: 1.5em;
  }

  .programming-list {
    margin-left: 1em;
    li {
      padding-bottom: 0.7em;
      list-style-type: circle;
    }
    li:first-child {
      margin-top: 1em;
    }
  }
}

.links {
  margin-top: 2em;
}

.iphone {
  width: 275px;
  display: block;
  margin: 0 auto;
}

@media (min-width: $screen-md) {
  .iphone {
    width: 350px;
  }
}

.privacy {
  a {
    color: tint(#428bca, 40%) !important;
  }
}